/**
 * Ubicomp 2012 Stylesheet
 *
 *
 */
 
html,
body {
  background-color: #111;
  background:#111 url(../images/bg-stripes.png) center top;
  color:#111;
}

a {
  color:#E55713;
}
a:hover {
  color:#AC410E; 
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:15px;
  line-height:1em;
  font-family: 'Questrial', sans-serif;
}
h2 { font-size:32px; }
h3 { font-size:25px; }
h4 { font-size:20px; }
h5 { font-size:16px; }
h6 { font-size:13px; }

/* Blueprint Override
 * ================== */
.notice {
  background:#ffc;
  color:#111;
  border-color:#ff0;
}

/* Header
 * ====== */
header {
  margin: 20px 0 10px;
  height:160px;
}
#header-logo {
  margin-left:-20px;
}
#header-news {
  height:80px;
}
#header-subtitle {
  line-height:25px;
  font-size: 16px;
  font-family: 'Questrial', sans-serif;
  color: #fff;
}
#header-social {
  padding-top:5px;
  font-size:14px;
  font-family: 'Questrial', sans-serif;
  color:#fff;
  white-space:nowrap;
}
  #header-social a {
    display:block;
    clear:both;
    color:#fff;
    text-decoration:none;
  }
    #header-social a:hover {
      text-decoration:underline;
    }
  #header-social img {
    float:left;
    margin-right:10px;
  }
  #header-social p {
    margin:0;
    padding:5px 0 10px;
  }

/* Navigation Bar
 * ============== */
ul#navbar {
  clear:both;
  display:block;
  margin:0 -20px 10px;
  padding:0;
  height:30px;
  list-style:none;
  background-color:#ccc;
}
  ul#navbar > li {
    float:left;
  }
  ul#navbar > li > a {
    display:block;
    padding:8px 15px;
    line-height:14px;
    font-size:14px;
    border-right:1px solid #111;
    font-family: 'Questrial', sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color:#111;
  }
  ul#navbar > li > a:hover,
  ul#navbar > li > a.active {
    background-color:#ff0;
  }

/* Content Wrap
 * ============ */
#content-wrap {
  margin:0 -20px 10px;
  padding:20px;
  min-height:400px;
  background-color:#fff;
}

/* Footer
 * ====== */
footer {
  margin:0 -20px 20px;
  padding:20px;
  background:#333;
  color:#999;
}
  footer a { color:#ff0; }
  footer a:hover { color:#E55713; }

/* Clearfix
 * ========
 * Make the elements wrap around their content.
 */
header:after,
footer:after,
#content-wrap:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 visibility:hidden;
 overflow:hidden;
}